.Game_block {
	width: 80%;
	min-height: 1px;
	margin: 5% auto;
	position: relative;
}

.Game_block img.Background_game{
	width: 100%;
	height: auto;
	z-index: 0;
}
.Game_block .Game_links .LG {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}

/*///////////////////////////////////////////////////////////////*/
/*///////////////////		Images      /////////////////////////*/
/*///////////////////////////////////////////////////////////////*/
/*//////////////////Расположение огурчика Рика///////////////////*/
/*///////////////////////////////////////////////////////////////*/
.Game_block .Game_links .Pickle_Rick {
	position: absolute;
	width: 5%;
	right: 6%;
	bottom: 15%;
}
.Game_block .Game_links .Pickle_Rick img {
	width: 100%;
	height: auto;
	transition: 0.3s;
}
.Game_block .Game_links .Pickle_Rick:hover img{
	transition: 0.6s;
	margin-bottom: 150%;
}
/*///////////////////////////////////////////////////////////////*/
/*/////////////////Расположение Ноутбука Джерри//////////////////*/
/*///////////////////////////////////////////////////////////////*/
.Game_block .Game_links .NoteBook_Jerry {
	position: absolute;
	width: 7%;
	right: 29%;
	bottom: 26%;
	
}
.Game_block .Game_links .NoteBook_Jerry img {
	width: 100%;
	height: auto;
	transition: 0.3s;
}
.Game_block .Game_links .NoteBook_Jerry:hover img{
	transition: 0.8s;
	margin-bottom: 70%;
}
/*///////////////////////////////////////////////////////////////*/
/*//////////////////Расположение оружия Рика/////////////////////*/
/*///////////////////////////////////////////////////////////////*/
.Game_block .Game_links .Gun_crashed {
	position: absolute;
	width: 7%;
	right: 77%;
	bottom: 34%;
}
.Game_block .Game_links .Gun_crashed img {
	width: 100%;
	height: auto;
	transition: 0.3s;
}
.Game_block .Game_links .Gun_crashed:hover img{
	transition: 0.6s;
	margin-bottom: 100%;
}
/*///////////////////////////////////////////////////////////////*/
/*////////////////////Расположение напитка///////////////////////*/
/*///////////////////////////////////////////////////////////////*/
.Game_block .Game_links .Drink_Morty {
	position: absolute;
	width: 3%;
	right: 77%;
	bottom: 18%;
}
.Game_block .Game_links .Drink_Morty img {
	width: 100%;
	height: auto;
	transition: 0.3s;
}
.Game_block .Game_links .Drink_Morty:hover img{
	transition: 0.3s;
	margin-bottom: 150%;
}
/*///////////////////////////////////////////////////////////////*/
/*////////////////////Расположение плумбуса///////////////////////*/
/*///////////////////////////////////////////////////////////////*/
.Game_block .Game_links .Plumbus {
	position: absolute;
	width: 2%;
    right: 39%;
    bottom: 47.5%;
}
.Game_block .Game_links .Plumbus img {
	width: 100%;
	height: auto;
	transition: 0.3s;
}
.Game_block .Game_links .Plumbus:hover img{
	transition: 0.3s;
	margin-bottom: 150%;
}
/*///////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////*/