/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////					Header Styles                   				//////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


html {
	
}



.Wrapper {
	box-sizing: border-box;
	transform-style: inherit;
	width: 100vw;
}



.Characters_images img {
	width: 100%;
	margin: 0 auto;
	background-image: url(../Images/Header/background_V3.png);
	background-repeat: no-repeat;
	background-size: cover;


}


