.Videos_RAM {
	width: 100%;
	
	
    
    display: block;
    background-image: url(../Images/Images_Ep/background_V444.png);
    background-size: cover;
}
.Videos_RAM .Sesons {
	padding-top: 30px;
	margin: 0 auto;
	width: 90%;
}

.Videos_RAM .Sesons h2{
	text-decoration: none;
	color: #fff;
	font: normal normal 700 30px/normal tahoma;
	text-align: left;
}
.Videos_RAM .Sesons .Eps {
	margin: 0 auto;
	width: 80%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;	
	
}
.Videos_RAM .Sesons .img_ep {
	height: 125px;
    width: 175px;
    margin: 10px;
    border: 5px solid #a3faff;
    border-radius: 5px;
}
